@model MTI.Models.Users
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid center">
    <div class="row no-gutter" style="display:inline-block;">

        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">تسجيل الدخول</h3>
                            @using (Html.BeginForm("Login", "ManageInstitute"))
                            {<div class="form-label-group">
                                @Html.LabelFor(m => m.Username)

                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            </div>
                             <div class="form-label-group">
                                 @Html.LabelFor(m => m.Password)

                                 @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                             </div>
                                <br />

                               
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">تسجيل الدخول</button>
                              
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">

        </div>

    </div>
</div>
